<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<h2>Hello UI Page </h2>
<div th:text="${msg}"/>
<div>Time: <span th:text="${time}"/></div>
</body>